@model SearchViewModel

<div class="container">
    <div class="row">

        <div class="col-md-2">
            <h6> جستجو بر اساس قیمت</h6>
            <br />
            <form asp-controller="Home" asp-action="Search" method="post">
                <div class="form-group">
                    <label>از</label>
                    <input type="text" class="form-control" asp-for="FromPrice">
                    <span class="font-13 text-muted"></span>
                </div>
                <div class="form-group">
                    <label>تا</label>
                    <input type="text" class="form-control" asp-for="ToPrice">
                    <span class="font-13 text-muted"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="جستجو" class="btn btn-primary form-control">
                </div>
            </form>
        </div>

        <div class="col-md-10">
            <div class="one-slider">
                <h4>نتایج جستجو</h4>
                <div class="owl-carousel owl-theme ov1">
                    @foreach (var item in Model.Items)
                    {
                        <div class="item">
                            <figure>
                                <a href="/Home/Details/@item.Id"><img src="/img/stuffs/@item.ImageFileName" class="w-100" /></a>
                            </figure>
                            <h5>
                                @item.Name
                            </h5>
                            <span>@item.Price تومان</span>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>